body{background-color: rgb(254, 94, 81);
    font-family: serif;}
h1{
  color: white;
  font-size: 60px;
  text-align: center;
  font-family:"Lucida Console",sans-serif;
}


button {font-size: 13px;
        font-family:"Lucida Console",sans-serif;
        float: right;
      }
      div.contact{
        color: gray;
        text-align: center;
    }
