h1 {
  text-align: center;
}


img alt="beachfront"{
float: left;
width: 700px;
height: 400px;
margin-right: 20px;
}
input{
float: right;
width: 200px;
height: 50px;
padding: 10px;
margin: 10px;
margin-right: 500px;
}
button.login{
float: right;
padding: 10px;
}
button.signup{
  float: right;
}

form {
display: table;
}
form div{
display: table-row;
}
form p{
display: table-row;
}

form img alt="socmed"{
display: table-row;
margin-right: 10px;
}

form{
float:right;
}
