h1 {
  text-align: center;
}


img alt="logo"{
float: left;
height: 500px;
margin-left: 200px;
margin-right: 20px;
}
input{
float: right;
width: 200px;
height: 50px;
padding: 10px;
margin: 10px;
margin-right: 500px;
}
button.login{
float: right;
padding: 10px;
}
button.signup{
  float: right;
}
button {
  margin: 5px;
}

form {
display: table;
}
form div{
display: table-row;
}
form p{
display: table-row;
}

form img alt="socmed"{
display: table-row;
margin-right: 10px;
}

form{
float:right;
}

body {
  font-family: sans-serif;
}

img.center{
display: block;
margin-left: auto;
margin-right: auto;
width: 75%;
margin: 1px;
float: left;
}

img.socmed {
  margin: 5px;
}
